{% extends 'base.html' %}
    {% block title %}
        <p class="blog-post-meta offset-lg-3">Дата поста: {{context.b_date}}   Автор: {{context.b_author}}</p>
    {% endblock %}
    {% block content %}
                <div class="card" style="width: 50rem;">
                    <img src="../static/image/about.jpg" alt="Мы" class="post-image mb-4">
                    <div class="card-body">
                        <p> Привет, друзья! Это снова я, Ларс, ваша верная немецкая овчарка. Сегодня я хочу рассказать вам о самой важной части моей жизни
                            — моей семье. Они для меня не просто хозяева, а настоящие друзья и товарищи, которые всегда рядом, поддерживают и любят меня.
                            Давайте я познакомлю вас с ними поближе.</p>
                        <h4>Хозяин Олег</h4>
                        <p>Мой хозяин — Олег. Он главный в нашем доме, и я всегда чувствую себя защищенным рядом с ним. Олег — человек сильный и добрый.
                            Он всегда находит время для игр со мной, даже если очень занят. Мы часто ходим на прогулки, и он учит меня новым командам.
                            Иногда мы отправляемся на пробежки, и я всегда стараюсь не отставать от него, хотя он бегает очень быстро. Но главное,
                            что мне нравится в Олеге, — это его спокойствие и уверенность. Я знаю, что с ним ничего не страшно.</p>
                        <h4>Хозяйка Настя</h4>
                        <p>Хозяйка Настя — это настоящий лучик света в нашем доме. Она всегда заботится о нас, следит за тем, чтобы у всех было всё,
                           что нужно. Настя любит меня как своего малыша, и я всегда чувствую её любовь и нежность. Она часто гладит меня и называет
                            своими ласковыми именами. Я обожаю, когда Настя делает мне массаж за ушами — это так приятно! А ещё она печёт самые вкусные
                            угощения, и иногда я получаю что-то особенное, когда веду себя хорошо. Настя всегда знает, как поднять настроение, и я
                            безумно рад, что она у нас есть.</p>
                        <h4>Сын Давид</h4>
                        <p>Давид — это мой лучший друг и партнёр по играм. Он ещё совсем молодой, но уже такой умный и сообразительный. Мы с ним можем
                            часами бегать по двору, играть в мяч или прятки. Давид всегда придумывает что-то новое, и мне никогда не бывает с ним скучно.
                            Он учит меня трюкам, а я учу его, как быть быстрым и ловким. Давид — настоящий весельчак, и я рад, что у меня есть такой друг.
                            Я всегда рядом с ним, защищаю его и поддерживаю во всём.</p>
                        <h4>Дочь Злата</h4>
                        <p>Злата — наша маленькая принцесса. Она очень добрая и нежная, и я всегда стараюсь быть рядом с ней, чтобы защитить её и подарить
                            тепло. Злата любит играть со мной в тихие игры, мы вместе читаем книжки (я слушаю, конечно), и она иногда рассказывает мне свои
                            секреты. Её смех — это самая приятная музыка для моих ушей. Я всегда стараюсь быть аккуратным с ней, чтобы не напугать её, ведь
                            она ещё совсем маленькая. Но я знаю, что Злата тоже любит меня, и я чувствую это в каждом её прикосновении.</p>
                        <h4>Кот Оскар</h4>
                        <p>И, конечно, у нас есть ещё один член семьи — кот Оскар. Оскар — это настоящий король в нашем доме. Он немного старше меня,
                            и сначала я не знал, как с ним общаться, но со временем мы стали настоящими друзьями. Оскар любит спокойствие и уют, но
                            иногда и он не прочь поиграть со мной. Мы вместе гуляем по дому, изучаем новые уголки и иногда даже вместе лежим на солнце.
                            Он может быть немного независимым, но я знаю, что в глубине души Оскар тоже рад, что я есть в его жизни. Мы отлично понимаем
                            друг друга без слов.</p>
                        <h4>Заключение</h4>
                        <p>Моя семья — это самое дорогое, что у меня есть. Каждый день с ними полон радости и тепла. Я знаю, что всегда могу на них
                            положиться, и они могут положиться на меня. Мы — одна большая, счастливая семья, и я счастлив быть её частью.
                            Это моя история, и я надеюсь, что вам было интересно узнать больше о тех, кто окружает меня. До встречи в следующем рассказе!</p>
                        <p>Ваш Ларс.</p>
                        <a href="/" class="btn btn-primary">Вернуться</a>
                    </div>
                </div>
    {% endblock %}