<header class="text-white py-3 mb-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="h3">{{context.b_title}}</h3>
                <nav>
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link text-white" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/about/">О нас</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/contacts/">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>